# Data cleaning

In [92]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Economic data

Economic data has been downloaded from the Singapore government's [statistics website](https://www.singstat.gov.sg/find-data/search-by-theme?type=all). Let's prepare the data for comparison to the BT articles' sentiment score later.

### GDP growth

GDP growth is the most common economic indicator and comes in quarterly form.

In [2]:
gdp_df = pd.read_csv('../datasets/economic-data/gdp.csv')
gdp_df

,1976 1Q,1976 2Q,1976 3Q,1976 4Q,1977 1Q,1977 2Q,1977 3Q,1977 4Q,1978 1Q,1978 2Q,...,2017 1Q,2017 2Q,2017 3Q,2017 4Q,2018 1Q,2018 2Q,2018 3Q,2018 4Q,2019 1Q,2019 2Q
0,8.2,7.4,7.2,7.0,6.2,7.6,6.4,7.2,5.6,6.2,...,3.7,3.0,4.6,3.6,4.6,4.2,2.6,1.3,1.1,0.1

In [3]:
gdp_df = gdp_df.T #transpose to make time periods rows
gdp_df.rename(columns={0: "gdp_growth"}, inplace=True) #name the value column as gdp growth
gdp_df.head()

         gdp_growth
1976 1Q         8.2
1976 2Q         7.4
1976 3Q         7.2
1976 4Q         7.0
1977 1Q         6.2

Since we have BT article from 2014 to August 2019, we can keep just the same corresponding periods of GDP for comparison.

In [4]:
gdp_df = gdp_df.loc['2014 1Q':, :] #save rows from 2014 1Q onwards
#reformat quarters through slicing so they can be read by to_datetime
gdp_df.index = [period.split(' ')[0] + 'Q' + period.split(' ')[1][0] for period in gdp_df.index]
gdp_df.head()

        gdp_growth
2014Q1         4.3
2014Q2         3.3
2014Q3         3.6
2014Q4         4.4
2015Q1         2.9

In [5]:
gdp_df['date'] = gdp_df.index #create new column for date
gdp_df['date'] = pd.to_datetime(gdp_df['date']).dt.to_period('Q') #convert to datetime
gdp_df.reset_index(inplace=True) #take date out of index
gdp_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(gdp_df['date'].dtype) #check time conversion is done 
gdp_df.head()

period[Q-DEC]

   gdp_growth    date
0         4.3  2014Q1
1         3.3  2014Q2
2         3.6  2014Q3
3         4.4  2014Q4
4         2.9  2015Q1

### Composite leading index

> The composite leading index is compiled by the Singapore Department of Statistics. It is used to anticipate the turning points of growth cycles or fluctuations in the economy's growth rate. - [singstat.gov.sg](https://www.singstat.gov.sg/find-data/search-by-theme/economy/leading-indicators/latest-data)

In [20]:
comp_df = pd.read_csv('../datasets/economic-data/composite.csv')
comp_df

,1979 1Q,1979 2Q,1979 3Q,1979 4Q,1980 1Q,1980 2Q,1980 3Q,1980 4Q,1981 1Q,1981 2Q,...,2017 1Q,2017 2Q,2017 3Q,2017 4Q,2018 1Q,2018 2Q,2018 3Q,2018 4Q,2019 1Q,2019 2Q
0,8.9,4.1,0.8,6.9,5.4,4.7,11.8,12.9,13.3,20.7,...,7.3,5.7,6.4,7.4,3.7,3.5,1.5,-0.6,-0.3,-1.3

In [21]:
comp_df = comp_df.T #transpose to make time periods rows
comp_df.rename(columns={0: "composite"}, inplace=True) #name the value column as composite
comp_df.head()

         composite
1979 1Q        8.9
1979 2Q        4.1
1979 3Q        0.8
1979 4Q        6.9
1980 1Q        5.4

In [22]:
comp_df = comp_df.loc['2014 1Q':, :] #save rows from 2014 1Q onwards
#reformat quarters through slicing so they can be read by to_datetime
comp_df.index = [period.split(' ')[0] + 'Q' + period.split(' ')[1][0] for period in comp_df.index]
comp_df.head()

        composite
2014Q1        0.6
2014Q2        0.6
2014Q3       -0.1
2014Q4        0.2
2015Q1       -0.5

In [23]:
comp_df['date'] = comp_df.index #create new column for date
comp_df['date'] = pd.to_datetime(comp_df['date']).dt.to_period('Q') #convert to datetime
comp_df.reset_index(inplace=True) #take date out of index
comp_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(comp_df['date'].dtype) #check time conversion is done 
comp_df.head()

period[Q-DEC]

   composite    date
0        0.6  2014Q1
1        0.6  2014Q2
2       -0.1  2014Q3
3        0.2  2014Q4
4       -0.5  2015Q1

### Industrial production index (quarterly)

In [63]:
industrial_quart_df = pd.read_csv('../datasets/economic-data/industrial-quart.csv')
industrial_quart_df

,2014 1Q,2014 2Q,2014 3Q,2014 4Q,2015 1Q,2015 2Q,2015 3Q,2015 4Q,2016 1Q,2016 2Q,...,2017 1Q,2017 2Q,2017 3Q,2017 4Q,2018 1Q,2018 2Q,2018 3Q,2018 4Q,2019 1Q,2019 2Q
0,9.6,1.4,1.7,-1.2,-4.3,-4.3,-5.7,-6.2,-0.4,1.6,...,8.4,8.6,19.3,5.8,10.0,10.6,3.5,4.6,-0.3,-3.1

In [64]:
industrial_quart_df = industrial_quart_df.T #transpose to make time periods rows
industrial_quart_df.rename(columns={0: "industrial"}, inplace=True) #name the value column as industrial
industrial_quart_df.head()

         industrial
2014 1Q         9.6
2014 2Q         1.4
2014 3Q         1.7
2014 4Q        -1.2
2015 1Q        -4.3

In [65]:
#reformat quarters through slicing so they can be read by to_datetime
industrial_quart_df.index = [period.split(' ')[0] + 'Q' + period.split(' ')[1][0] for period in industrial_quart_df.index]
industrial_quart_df.head()

        industrial
2014Q1         9.6
2014Q2         1.4
2014Q3         1.7
2014Q4        -1.2
2015Q1        -4.3

In [66]:
industrial_quart_df['date'] = industrial_quart_df.index #create new column for date
industrial_quart_df['date'] = pd.to_datetime(industrial_quart_df['date']).dt.to_period('Q') #convert to datetime
industrial_quart_df.reset_index(inplace=True) #take date out of index
industrial_quart_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(industrial_quart_df['date'].dtype) #check time conversion is done 
industrial_quart_df.head()

period[Q-DEC]

   industrial    date
0         9.6  2014Q1
1         1.4  2014Q2
2         1.7  2014Q3
3        -1.2  2014Q4
4        -4.3  2015Q1

### Merchandise trade (quarterly)

As Singstat does not have the quarterly figures for this particular measure, we will have to use the raw numbers and calculate the quarterly growth.

In [106]:
merch_raw_df = pd.read_csv('../datasets/economic-data/merch-raw.csv')
merch_raw_df

,2013 Jan,2013 Feb,2013 Mar,2013 Apr,2013 May,2013 Jun,2013 Jul,2013 Aug,2013 Sep,2013 Oct,...,2018 Sep,2018 Oct,2018 Nov,2018 Dec,2019 Jan,2019 Feb,2019 Mar,2019 Apr,2019 May,2019 Jun
0,"82,541,865.000000000","72,915,521.000000000","80,374,024.000000000","87,749,589.000000000","87,712,431.000000000","82,677,400.0000000","90,009,611.000000000","84,320,793.000000000","86,777,871.000000000","92,787,692.000000000",...,"87,289,930.00000000","98,783,433.000000000","93,814,550.00000000","86,058,910.00000000","86,084,269.000000000","75,947,265.000000000","84,571,918.000000000","85,537,594.000000000","89,270,531.000000000","80,405,391.000000000"

In [107]:
merch_raw_df = merch_raw_df.T #transpose to make time periods rows
merch_raw_df.rename(columns={0: "merch"}, inplace=True) #name the value column as merch
merch_raw_df.head()

                         merch
2013 Jan  82,541,865.000000000
2013 Feb  72,915,521.000000000
2013 Mar  80,374,024.000000000
2013 Apr  87,749,589.000000000
2013 May  87,712,431.000000000

In [108]:
merch_raw_df.index = pd.to_datetime(merch_raw_df.index)

In [109]:
merch_raw_df['merch'].dtype #check type of merch column

dtype('O')

As the merchandise trade numbers are strings, we have to convert into floats.

In [110]:
merch_raw_df['merch'] = merch_raw_df['merch'].apply(lambda num: num.replace(',', '')) #remove the commas in the values

In [111]:
merch_raw_df['merch'] = merch_raw_df['merch'].astype(float) #convert string to float

In [112]:
merch_quart_df = merch_raw_df.resample('Q').sum().pct_change(periods=4) 
#group into quarters, sum values of quarters, then calculate percentage change, change name of df to reflect change 
#2013 becomes nan because there is no prior year to compare
merch_quart_df.head(10)

               merch
2013-03-31       NaN
2013-06-30       NaN
2013-09-30       NaN
2013-12-31       NaN
2014-03-31  0.075146
2014-06-30 -0.006765
2014-09-30 -0.040538
2014-12-31 -0.046167
2015-03-31 -0.102581
2015-06-30 -0.102831

In [113]:
merch_quart_df.dropna(inplace=True) #drop 2013 rows
merch_quart_df['merch'] = merch_quart_df['merch'].apply(lambda merch: np.round(merch*100, 1)) #conver to percentage by multiplying by 100, then round to 1 decimal place

In [114]:
merch_quart_df['date'] = merch_quart_df.index #create new column for date
merch_quart_df['date'] = pd.to_datetime(merch_quart_df['date']).dt.to_period('Q') #convert to datetime
merch_quart_df.reset_index(inplace=True) #take date out of index
merch_quart_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(merch_quart_df['date'].dtype) #check time conversion is done 
merch_quart_df.head()

period[Q-DEC]

   merch    date
0    7.5  2014Q1
1   -0.7  2014Q2
2   -4.1  2014Q3
3   -4.6  2014Q4
4  -10.3  2015Q1

### Retail sales (quarterly)

In [59]:
retail_quart_df = pd.read_csv('../datasets/economic-data/retail-quart.csv')
retail_quart_df

,2014 1Q,2014 2Q,2014 3Q,2014 4Q,2015 1Q,2015 2Q,2015 3Q,2015 4Q,2016 1Q,2016 2Q,...,2017 1Q,2017 2Q,2017 3Q,2017 4Q,2018 1Q,2018 2Q,2018 3Q,2018 4Q,2019 1Q,2019 2Q
0,-1.0,-5.8,2.4,5.8,3.5,6.3,5.5,3.2,2.6,1.9,...,1.1,0.5,0.4,3.0,-1.7,0.4,-1.0,-2.4,-0.6,-4.6

In [60]:
retail_quart_df = retail_quart_df.T #transpose to make time periods rows
retail_quart_df.rename(columns={0: "retail"}, inplace=True) #name the value column as retail
retail_quart_df.head()

         retail
2014 1Q    -1.0
2014 2Q    -5.8
2014 3Q     2.4
2014 4Q     5.8
2015 1Q     3.5

In [61]:
#reformat quarters through slicing so they can be read by to_datetime
retail_quart_df.index = [period.split(' ')[0] + 'Q' + period.split(' ')[1][0] for period in retail_quart_df.index]
retail_quart_df.head()

        retail
2014Q1    -1.0
2014Q2    -5.8
2014Q3     2.4
2014Q4     5.8
2015Q1     3.5

In [62]:
retail_quart_df['date'] = retail_quart_df.index #create new column for date
retail_quart_df['date'] = pd.to_datetime(retail_quart_df['date']).dt.to_period('Q') #convert to datetime
retail_quart_df.reset_index(inplace=True) #take date out of index
retail_quart_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(retail_quart_df['date'].dtype) #check time conversion is done 
retail_quart_df.head()

period[Q-DEC]

   retail    date
0    -1.0  2014Q1
1    -5.8  2014Q2
2     2.4  2014Q3
3     5.8  2014Q4
4     3.5  2015Q1

### Merge quarterly data

In [116]:
quart_df = pd.merge(gdp_df, comp_df, on='date').merge(industrial_quart_df, on='date').merge(merch_quart_df, on='date').merge(retail_quart_df, on='date')
quart_df = quart_df[['date', 'gdp_growth', 'composite', 'industrial', 'merch', 'retail']] #rearrange columns so date is first column
quart_df.head()

     date  gdp_growth  composite  industrial  merch  retail
0  2014Q1         4.3        0.6         9.6    7.5    -1.0
1  2014Q2         3.3        0.6         1.4   -0.7    -5.8
2  2014Q3         3.6       -0.1         1.7   -4.1     2.4
3  2014Q4         4.4        0.2        -1.2   -4.6     5.8
4  2015Q1         2.9       -0.5        -4.3  -10.3     3.5

Save the quarterly data to `csv`.

In [119]:
quart_df.to_csv('../datasets/economic-data/quart.csv')

### Industrial production index (monthly)

This index tracks the manufacturing sector in Singapore and comes in monthly form, as does the rest of the subsequent data.

In [32]:
industrial_df = pd.read_csv('../datasets/economic-data/industrial.csv')
industrial_df

,2014 Jan,2014 Feb,2014 Mar,2014 Apr,2014 May,2014 Jun,2014 Jul,2014 Aug,2014 Sep,2014 Oct,...,2018 Sep,2018 Oct,2018 Nov,2018 Dec,2019 Jan,2019 Feb,2019 Mar,2019 Apr,2019 May,2019 Jun
0,3.5,13.1,12.2,5.3,-1.9,0.7,2.6,3.8,-1.2,0.3,...,0.5,5.2,6.8,1.8,1.2,2.9,-4.5,-0.1,-2.0,-6.9

In [33]:
industrial_df = industrial_df.T #transpose to make time periods rows
industrial_df.rename(columns={0: "industrial"}, inplace=True) #name the value column as industrial
industrial_df.head()

          industrial
2014 Jan         3.5
2014 Feb        13.1
2014 Mar        12.2
2014 Apr         5.3
2014 May        -1.9

In [34]:
industrial_df['date'] = industrial_df.index #create new column for date
industrial_df['date'] = pd.to_datetime(industrial_df['date']).dt.to_period('m') #convert to date time
industrial_df.reset_index(inplace=True) #take date out of index
industrial_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(industrial_df['date'].dtype) #check time conversion is done 
industrial_df.head()

period[M]

   industrial     date
0         3.5  2014-01
1        13.1  2014-02
2        12.2  2014-03
3         5.3  2014-04
4        -1.9  2014-05

### Merchandise trade (monthly)

In [35]:
merch_df = pd.read_csv('../datasets/economic-data/merch.csv')
merch_df

,2014 Jan,2014 Feb,2014 Mar,2014 Apr,2014 May,2014 Jun,2014 Jul,2014 Aug,2014 Sep,2014 Oct,...,2018 Oct,2018 Nov,2018 Dec,2019 Jan,2019 Feb,2019 Mar,2019 Apr,2019 May,2019 Jun,2019 Jul
0,4.3,7.5,10.8,1.4,-2.4,-1.0,-6.2,-4.8,-1.1,-7.1,...,18.9,7.4,1.6,4.2,3.3,-0.9,3.2,-2.2,-7.3,-6.0

In [36]:
merch_df = merch_df.T #transpose to make time periods rows
merch_df.rename(columns={0: "merch"}, inplace=True) #name the value column as merch
merch_df.head()

          merch
2014 Jan    4.3
2014 Feb    7.5
2014 Mar   10.8
2014 Apr    1.4
2014 May   -2.4

In [37]:
merch_df['date'] = merch_df.index #create new column for date
merch_df['date'] = pd.to_datetime(merch_df['date']).dt.to_period('m') #convert to date time
merch_df.reset_index(inplace=True) #take date out of index
merch_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(merch_df['date'].dtype) #check time conversion is done 
merch_df.head()

period[M]

   merch     date
0    4.3  2014-01
1    7.5  2014-02
2   10.8  2014-03
3    1.4  2014-04
4   -2.4  2014-05

### Retail sales (monthly)

In [38]:
retail_df = pd.read_csv('../datasets/economic-data/retail.csv')
retail_df

,2014 Jan,2014 Feb,2014 Mar,2014 Apr,2014 May,2014 Jun,2014 Jul,2014 Aug,2014 Sep,2014 Oct,...,2018 Sep,2018 Oct,2018 Nov,2018 Dec,2019 Jan,2019 Feb,2019 Mar,2019 Apr,2019 May,2019 Jun
0,-4.5,-1.7,0.9,-6.9,-6.8,-1.3,2.0,3.2,1.9,6.8,...,2.1,0.3,-1.6,-6.0,-1.1,-0.5,-1.0,-1.6,-3.8,-7.4

In [39]:
retail_df = retail_df.T #transpose to make time periods rows
retail_df.rename(columns={0: "retail"}, inplace=True) #name the value column as retail
retail_df.head()

          retail
2014 Jan    -4.5
2014 Feb    -1.7
2014 Mar     0.9
2014 Apr    -6.9
2014 May    -6.8

In [40]:
retail_df['date'] = retail_df.index #create new column for date
retail_df['date'] = pd.to_datetime(retail_df['date']).dt.to_period('m') #convert to date time
retail_df.reset_index(inplace=True) #take date out of index
retail_df.drop('index', axis=1, inplace=True) #when reset_index is done, new columnd called 'index' is formed. drop this
print(retail_df['date'].dtype) #check time conversion is done 
retail_df.head()

period[M]

   retail     date
0    -4.5  2014-01
1    -1.7  2014-02
2     0.9  2014-03
3    -6.9  2014-04
4    -6.8  2014-05

Â ### Merge monthly data

Industrial production index, merchandise trade, and retail sales have monthly data.

In [48]:
month_df = pd.merge(industrial_df, merch_df, on='date').merge(retail_df, on='date')
month_df = month_df[['date', 'industrial', 'merch', 'retail']] #rearrange columns so date is first column
month_df.head()

      date  industrial  merch  retail
0  2014-01         3.5    4.3    -4.5
1  2014-02        13.1    7.5    -1.7
2  2014-03        12.2   10.8     0.9
3  2014-04         5.3    1.4    -6.9
4  2014-05        -1.9   -2.4    -6.8

Save monthly data to `csv`.

In [120]:
month_df.to_csv('../datasets/economic-data/month.csv')